<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>ssm</display-name>

  <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
         instead of the default XmlWebApplicationContext -->
  <!--<context-param>-->
    <!--<param-name>contextClass</param-name>-->
    <!--<param-value>-->
      <!--org.springframework.web.context.support.AnnotationConfigWebApplicationContext-->
    <!--</param-value>-->
  <!--</context-param>-->

  <!--&lt;!&ndash;Configuration locations must consist of one or more comma- or space-delimited-->
      <!--fully-qualified @Configuration classes. Fully-qualified packages may also be-->
      <!--specified for component-scanning &ndash;&gt;-->
 <!--<context-param>-->
   <!--<param-name>contextConfigLocation</param-name>-->
   <!--<param-value>com.config.AppConfig</param-value>-->
 <!--</context-param>-->

 <!--&lt;!&ndash; character encode filter &ndash;&gt;-->
  <!--<filter>-->
    <!--<filter-name>characterEncodingFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>encoding</param-name>-->
      <!--<param-value>UTF-8</param-value>-->
    <!--</init-param>-->
    <!--&lt;!&ndash; 是否覆盖原编码,强制使用此编码 &ndash;&gt;-->
    <!--<init-param>-->
      <!--<param-name>forceEncode</param-name>-->
      <!--<param-value>true</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>characterEncodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

  <!--&lt;!&ndash; spring context &ndash;&gt;-->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
  <!--</listener>-->

  <!--&lt;!&ndash; spring mvc dispatcher &ndash;&gt;-->
  <!--<servlet>-->
    <!--<servlet-name>dispatcherServlet</servlet-name>-->
    <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
    <!--&lt;!&ndash; Configure DispatcherServlet to use AnnotationConfigWebApplicationContext-->
            <!--instead of the default XmlWebApplicationContext &ndash;&gt;-->
    <!--<init-param>-->
      <!--<param-name>contextClass</param-name>-->
      <!--<param-value>-->
        <!--org.springframework.web.context.support.AnnotationConfigWebApplicationContext-->
      <!--</param-value>-->
    <!--</init-param>-->
    <!--&lt;!&ndash; Again, config locations must consist of one or more comma- or space-delimited-->
            <!--and fully-qualified @Configuration classes &ndash;&gt;-->
    <!--<init-param>-->
      <!--<param-name>contextConfigLocation</param-name>-->
      <!--<param-value>com.config.MvcConfig</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>dispatcherServlet</servlet-name>-->
    <!--<url-pattern>/</url-pattern>-->
  <!--</servlet-mapping>-->

  <!-- error page -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/error/404-page.jsp</location>
  </error-page>

</web-app>
